{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<h1> Products list</h1>

<a href="{{ path('product_new') }}">New Product</a>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
        {% for p in products %}
            <tr>
                <td>
                    <a href="{{ path('product_show', {'id': p.id}) }}">
                        {{ p.name }}
                    </a>
                </td>
                <td>{{ p.description }}</td>
                <td>{{ p.size }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
